---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
  {% if not page.data.eleventyExcludeFromCollections and page.url %}
  <url>
    <loc>{{ page.url | absoluteUrl(site.url) }}</loc>
    {% if page.date %}<lastmod>{{ page.date | isoDate }}</lastmod>{% endif %}
  </url>
  {% endif %}
  {% endfor %}
</urlset>
